<template>
  <main>
    <section class="container">
      <ul>
        <QuestionCard v-for="question in questions.results" :key="question.index" :question="question" />
      </ul>

      <b-row class="m-5 text-center" align-v="center">
        <b-col>
          <b-button @click="btnNextQuestion" type="submit" variant="outline-primary" size="lg">Next Question</b-button>
        </b-col>
      </b-row>


      <b-row class="m-5 text-center" align-v="center">
        <b-col>
          <b-button @click="resultSubmit" type="submit" variant="outline-primary" size="lg">Go to Results</b-button>
        </b-col>
      </b-row>


    </section>
  </main>
</template>



<script>
import { getQuestions } from "@/api/triviaAPI";
import QuestionCard from "./QuestionCard.vue";
import { getConfig } from "../utils/config";

export default {
  components: {
    QuestionCard,
  },
  name: "QuestionScreen",
  async created() {
    const config = getConfig()

    if (config === null) {
      this.$router.push("/");
      return;
    }

    try {
      const data = await getQuestions(config.category.id, config.questions,config.difficulty);
      this.questions = data;
      console.log(this.questions);
    } catch (error) {
      this.error = error.message;
    }
  },
  data() {
    return {
      error: "",  
      questions: [],
    };
  },

  methods: {
    resultSubmit() {
      this.$router.push('/result')
    }
  }
};
</script>